.DS_Store
*~
*.gz
*.pyc
__pycache__/

dataset/mnist.pkl

# manim
manim_cache/
media/

# 워크스페이스 베이스 폴더에 'handy-man' VSCode 확장으로 생성했을 수도 있는 'manim.cfg'는 제외한다.
manim.cfg

# .env
.env

# .handy-man folder
.handy-man/
